@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    padding: 47px 0px;
}

nav .logo{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.btn{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 24px;
    cursor: pointer;
}

header .banner-container{
    width: 1440px;
    height: 652px;
    background-image: url('./assets/Hero-bg.png');
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .banner-container .hero-coder{
    margin-top: 26px;;   
}

header .banner-container .heading{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
}

header .banner-container .description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}


header .banner-container .contact-btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin: 32px 0 44px 0;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px;
}


main .why-web-dev{
    width: 1140px;
    /* height: 1395px; */
    /* background-color: #000; */
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 88px;
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

main .why-web-dev .heading{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

main .why-web-dev .subHeading{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 100px;
}

main .why-web-dev .capability{
    width: 946px;
    height: 336px;
    margin-top: 32px;
    padding: 48px;
    margin: 40px 0;
    /* border: 2px solid tomato; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .why-web-dev .capability .title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

main .why-web-dev .capability .subTitle{
    width: 80%;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin: 16px 0 32px 0;
}

.margin{
    margin-left: 100px;
}

main .inspiration{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.description{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
    margin-bottom: 48px;
}

main .inspiration .youtube-video{
    width: 100%;
    height: 614px;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}


main .current-target{
    width: 1140px;
    height: 460px;
    /* border: 2px solid tomato; */
    margin: 0 auto;
    margin-top: 151px;
    margin-bottom: 111px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .current-target .targets{
    width: 100%;
    height: 100%;
    /* background-color: purple; */
    display: flex;
    gap: 24px;
}


main .current-target .targets .target{
    width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 16px;
}

main .current-target .targets .target .tech-name{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 8px;
}

main .current-target .targets .target .tech-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 24px;
    opacity: 0.7;
}

.t1{
    background: rgba(255, 76, 30, 0.05);
}


.t2{
    background: rgba(0, 76, 232, 0.05);
}

.t3{
    background: rgba(255, 223, 0, 0.05);
}

.target .tech-link{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

